*{
    padding: 0px;
    margin: 0px;
}
.navbar{
    background-color: black;
    color: beige;
    width: 100%;
    text-align: center;

    
}
.navbar .menu{
    display: flex;
    justify-content: space-evenly;
}
.navbar a{
    text-decoration: none;
    color: rgb(189, 230, 8);
    
}
.About h1,img{
    text-align: center;
}
.About img{
    border-radius: 50%;
    height: 200px;
    width: 170px;
    display: block;
    margin: 0 auto;
}
.skills h1{
    text-align: center;
}